In [2]:
import requests
import os
import time
import pandas as pd
from datetime import datetime

access_code = {
    "access_token": "kyjymututmshrl6e6yj3tcqyokuogf",
    "expires_in": 4830188,
    "token_type": "bearer"
}

class APIinfo:
    def __init__(self, baseURL = str, token = str):
        self.authHeader = {"Client-ID": "njp50qwu2nvpsx219fyqo3bzv63oin","Authorization": "Bearer "+token}
        self.baseURL = baseURL

cs_data = pd.read_csv("assets/SteamDB Counter-Strike.csv")
cs2_data = pd.read_csv("assets/SteamDB Counter-Strike 2.csv")
css_data = pd.read_csv("assets/SteamDB Counter-Strike Source.csv")
cscz_data = pd.read_csv("assets/SteamDB Counter-Strike Condition Zero.csv")

In [3]:
IGDB_api = APIinfo("https://api.igdb.com/v4/", "kyjymututmshrl6e6yj3tcqyokuogf")
endpoint = "genres"
# Shooter genre = 5

# params = "fields age_ratings,aggregated_rating,aggregated_rating_count,alternative_names,artworks,bundles,category,checksum,collection,collections,cover,created_at,dlcs,expanded_games,expansions,external_games,first_release_date,follows,forks,franchise,franchises,game_engines,game_localizations,game_modes,game_status,game_type,genres,hypes,involved_companies,keywords,language_supports,multiplayer_modes,name,parent_game,platforms,player_perspectives,ports,rating,rating_count,release_dates,remakes,remasters,screenshots,similar_games,slug,standalone_expansions,status,storyline,summary,tags,themes,total_rating,total_rating_count,updated_at,url,version_parent,version_title,videos,websites;"
params = "fields checksum,created_at,name,slug,updated_at,url;"

requestURL = IGDB_api.baseURL + endpoint
igdb_data = requests.post(requestURL, headers = IGDB_api.authHeader, data=params)
igdb_data = igdb_data.json()
igdb_data

[{'id': 2,
  'created_at': 1297639288,
  'name': 'Point-and-click',
  'slug': 'point-and-click',
  'updated_at': 1323382086,
  'url': 'https://www.igdb.com/genres/point-and-click',
  'checksum': 'b295f28a-5f68-fc3e-5de2-f3195e10d160'},
 {'id': 4,
  'created_at': 1297639288,
  'name': 'Fighting',
  'slug': 'fighting',
  'updated_at': 1323289215,
  'url': 'https://www.igdb.com/genres/fighting',
  'checksum': 'd23da988-5bb7-011e-34dc-0b712765e470'},
 {'id': 5,
  'created_at': 1297639288,
  'name': 'Shooter',
  'slug': 'shooter',
  'updated_at': 1323289215,
  'url': 'https://www.igdb.com/genres/shooter',
  'checksum': '20c255bc-ec2d-c219-34bd-47995b0a79f1'},
 {'id': 7,
  'created_at': 1297639288,
  'name': 'Music',
  'slug': 'music',
  'updated_at': 1323289215,
  'url': 'https://www.igdb.com/genres/music',
  'checksum': 'cbf12469-a5a8-6974-086c-ec9c6aeb5791'},
 {'id': 8,
  'created_at': 1297639288,
  'name': 'Platform',
  'slug': 'platform',
  'updated_at': 1323289215,
  'url': 'https://www.igdb.com/genres/platform',
  'checksum': '06c188b9-1058-933f-dfee-4ec658117ad2'},
 {'id': 9,
  'created_at': 1297639288,
  'name': 'Puzzle',
  'slug': 'puzzle',
  'updated_at': 1323289215,
  'url': 'https://www.igdb.com/genres/puzzle',
  'checksum': 'f4afdd14-b8c5-e938-58a6-ff0a56514f8b'},
 {'id': 10,
  'created_at': 1297639288,
  'name': 'Racing',
  'slug': 'racing',
  'updated_at': 1323289215,
  'url': 'https://www.igdb.com/genres/racing',
  'checksum': '41227287-0a1a-0f14-90f2-05655314e8b4'},
 {'id': 11,
  'created_at': 1297639288,
  'name': 'Real Time Strategy (RTS)',
  'slug': 'real-time-strategy-rts',
  'updated_at': 1323289215,
  'url': 'https://www.igdb.com/genres/real-time-strategy-rts',
  'checksum': 'f4e875ed-3c04-6fbe-a600-bbea74ed1025'},
 {'id': 12,
  'created_at': 1297639288,
  'name': 'Role-playing (RPG)',
  'slug': 'role-playing-rpg',
  'updated_at': 1323289215,
  'url': 'https://www.igdb.com/genres/role-playing-rpg',
  'checksum': '5a7bd431-149a-3083-532d-2176f4daca24'},
 {'id': 13,
  'created_at': 1297639288,
  'name': 'Simulator',
  'slug': 'simulator',
  'updated_at': 1323289215,
  'url': 'https://www.igdb.com/genres/simulator',
  'checksum': '00cd9e3e-ef6b-c1c1-387e-cdfcfdc05dd0'}]

In [10]:
shooters = pd.read_csv("igdb_shooters.csv")
shooters

,id,category,cover,created_at,external_games,first_release_date,game_modes,genres,involved_companies,keywords,...,game_localizations,bundles,hypes,expanded_games,remasters,remakes,ports,expansions,forks,standalone_expansions
0,191680,0.0,209817.0,1645417093,[2243132],1.418256e+09,[1],"[5, 32]",[164226],"[844, 34775]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,38521,0.0,302455.0,1497974673,"[18484, 123892, 1708955]",3.707424e+08,"[1, 2]","[5, 9, 33]",[238943],"[21, 72, 687, 992, 1033, 1219, 1437, 2416, 307...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,217634,0.0,246188.0,1663174642,[2587048],8.203680e+08,[1],[5],[187124],[30750],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1649,0.0,93450.0,1351021411,"[254309, 1304017, 78681, 25629, 218234, 213132...",1.350346e+09,"[1, 2, 4]",[5],"[12846, 12845]","[129, 137, 271, 274, 977, 1219, 1286, 1293, 13...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28725,1.0,45104.0,1494695944,NaN,1.353370e+09,[1],[5],"[59973, 185573]",[706],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26887,194422,0.0,213466.0,1647307268,"[2327381, 3015095]",1.632182e+09,[1],[5],NaN,"[2152, 3138]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26888,45356,0.0,444491.0,1499504954,"[1868592, 152191, 48476, 2685495]",4.416768e+08,[1],[5],[215498],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26889,60982,0.0,67525.0,1504864323,"[1188215, 113316]",6.941376e+08,[1],"[5, 8]",[68305],"[1345, 1705, 2152, 5211]",...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26890,66920,0.0,48411.0,1505346004,"[1880993, 129518]",NaN,NaN,"[5, 15]",NaN,"[1, 1333, 1986, 2385, 3831, 4259, 4285, 4333, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26891,98982,NaN,98188.0,1524661017,"[1958125, 471879]",1.530230e+09,[5],[5],NaN,[2385],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
filtered_shooters = shooters[["name","first_release_date","release_dates","total_rating","total_rating_count"]]
filtered_shoot]ers["first_release_date"] = filtered_shooters["first_release_date"].astype("int64")
filtered_shooters

,name,first_release_date,release_dates,total_rating,total_rating_count
0,_____,1.418256e+09,[358874],NaN,NaN
1,005,3.707424e+08,"[550586, 550587]",NaN,NaN
2,007 GoldenEye,8.203680e+08,[389445],NaN,NaN
3,007 Legends,1.350346e+09,"[107086, 65196, 65202, 65203, 159206, 65198, 6...",49.943543,30.0
4,007 Legends: Eve,1.353370e+09,[159597],NaN,NaN
...,...,...,...,...,...
26887,Zzap!,1.632182e+09,"[348305, 348303, 348304]",NaN,NaN
26888,Zzoom,4.416768e+08,"[476055, 527467]",NaN,NaN
26889,Zzzep,6.941376e+08,[156369],NaN,NaN
26890,µTanks,NaN,NaN,NaN,NaN
26891,强军,1.530230e+09,[157238],NaN,NaN