In [1]:
import pandas as pd
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
import json
import ast

alt.data_transformers.enable("default", max_rows=None)
alt.renderers.enable("mimetype")
alt.theme.enable("fivethirtyeight")

ThemeRegistry.enable('fivethirtyeight')

## Datasets & Cleaning

### Battlefield

In [11]:
b4_data = pd.read_csv("../assets/SteamDB Battlefield 4.csv")
bh_data = pd.read_csv("../assets/SteamDB Battlefield Hardline.csv")
b1_data = pd.read_csv("../assets/SteamDB Battlefield 1.csv")
bv_data = pd.read_csv("../assets/SteamDB Battlefield V.csv")
b2042_data = pd.read_csv("../assets/SteamDB Battlefield 2042.csv")

In [12]:
b4_data.columns = b4_data.columns.str.lower()
bh_data.columns = bh_data.columns.str.lower()
b1_data.columns = b1_data.columns.str.lower()
bv_data.columns = bv_data.columns.str.lower()
b2042_data.columns = b2042_data.columns.str.lower()

In [13]:
b4_data[['peak', 'gain', 'average']] = b4_data[['peak', 'gain', 'average']].replace({",": "", "-": "0"}, regex=True).astype(float)
bh_data[['peak', 'gain', 'average']] = bh_data[['peak', 'gain', 'average']].replace({",": "", "-": "0"}, regex=True).astype(float)
b1_data[['peak', 'gain', 'average']] = b1_data[['peak', 'gain', 'average']].replace({",": "", "-": "0"}, regex=True).astype(float)
bv_data[['peak', 'gain', 'average']] = bv_data[['peak', 'gain', 'average']].replace({",": "", "-": "0"}, regex=True).astype(float)
b2042_data[['peak', 'gain', 'average']] = b2042_data[['peak', 'gain', 'average']].replace({",": "", "-": "0"}, regex=True).astype(float)

fields_to_keep = ['month', 'peak', 'gain', 'average']
b4_data = b4_data[fields_to_keep][1:]
bh_data = bh_data[fields_to_keep][1:]
b1_data = b1_data[fields_to_keep][1:]
bv_data = bv_data[fields_to_keep][1:]
b2042_data = b2042_data[fields_to_keep][1:]

b4_data["month"] = pd.to_datetime(b4_data["month"], format="%b-%y")
b4_data = b4_data.sort_values("month")
bh_data["month"] = pd.to_datetime(bh_data["month"], format="%b-%y")
bh_data = bh_data.sort_values("month")
b1_data["month"] = pd.to_datetime(b1_data["month"], format="%b-%y")
b1_data = b1_data.sort_values("month")
bv_data["month"] = pd.to_datetime(bv_data["month"], format="%b-%y")
bv_data = bv_data.sort_values("month")
b2042_data["month"] = pd.to_datetime(b2042_data["month"], format="%b-%y")
b2042_data = b2042_data.sort_values("month")

In [25]:
b2042_data

        month      peak     gain  average
46 2021-11-01  105397.0      0.0      0.0
45 2021-12-01   47883.0  57514.0      0.0
44 2022-01-01   17365.0  30518.0      0.0
43 2022-02-01    5666.0  11699.0      0.0
42 2022-03-01    3322.0   2344.0      0.0
41 2022-04-01    4565.0   1243.0      0.0
40 2022-05-01    3170.0   1395.0      0.0
39 2022-06-01   15051.0  11881.0      0.0
38 2022-07-01    8167.0   6884.0      0.0
37 2022-08-01   17064.0   8897.0      0.0
36 2022-09-01   13001.0   4063.0      0.0
35 2022-10-01   11124.0   1877.0      0.0
34 2022-11-01   18425.0   7301.0      0.0
33 2022-12-01   36850.0  18425.0      0.0
32 2023-01-01   15796.0  21054.0      0.0
31 2023-02-01   18864.0   3068.0      0.0
30 2023-03-01   24547.0   5683.0      0.0
29 2023-04-01   18583.0   5964.0      0.0
28 2023-05-01   19025.0    442.0      0.0
27 2023-06-01   21825.0   2800.0      0.0
26 2023-07-01   15308.0   6517.0      0.0
25 2023-08-01   13164.0   2144.0      0.0
24 2023-09-01   11874.0   1290.0      0.0
23 2023-10-01  107376.0  95502.0      0.0
22 2023-11-01   55160.0  52216.0      0.0
21 2023-12-01   48863.0   6297.0      0.0
20 2024-01-01   25269.0  23594.0      0.0
19 2024-02-01   20608.0   4661.0      0.0
18 2024-03-01   43541.0  22933.0      0.0
17 2024-04-01   26445.0  17096.0      0.0
16 2024-05-01   22158.0   4287.0      0.0
15 2024-06-01   24090.0   1932.0      0.0
14 2024-07-01   27438.0   3348.0      0.0
13 2024-08-01   18654.0   8784.0      0.0
12 2024-09-01   15484.0   3170.0      0.0
11 2024-10-01   29187.0  13703.0      0.0
10 2024-11-01   34809.0   5622.0      0.0
9  2024-12-01   17755.0  17054.0      0.0
8  2025-01-01   14618.0   3137.0      0.0
7  2025-02-01   12678.0   1940.0      0.0
6  2025-03-01   17317.0   4639.0      0.0
5  2025-04-01   10970.0   6347.0      0.0
4  2025-05-01   12561.0   1591.0      0.0
3  2025-06-01   10163.0   2398.0      0.0
2  2025-07-01   10238.0     75.0      0.0
1  2025-08-01   74591.0  64353.0      0.0

In [ ]:
b_merged = pd.concat([b4_data, bh_data, b1_data, bv_data, b2042_data], ignore_index=True)
b_merged = b_merged[fields_to_keep]
b_merged.head()

       month    peak    gain  average
0 2020-06-01  1213.0     0.0      0.0
1 2020-07-01  1112.0   101.0      0.0
2 2020-08-01  3266.0  2154.0      0.0
3 2020-09-01  1119.0  2147.0      0.0
4 2020-10-01  5881.0  4762.0      0.0

In [15]:
SteamDB_b_merged_grouped = b_merged.groupby(b_merged.columns[0]).sum()

SteamDB_b_merged_grouped = SteamDB_b_merged_grouped.reset_index()
SteamDB_b_merged_grouped = SteamDB_b_merged_grouped.sort_values("month")
SteamDB_b_merged_grouped

        month      peak     gain  average
0  2020-06-01    5172.0      0.0      0.0
1  2020-07-01    4696.0    876.0      0.0
2  2020-08-01   16020.0  11324.0      0.0
3  2020-09-01    7273.0   8747.0      0.0
4  2020-10-01   15854.0   8581.0      0.0
..        ...       ...      ...      ...
58 2025-04-01   52747.0  28341.0      0.0
59 2025-05-01   59146.0   6399.0      0.0
60 2025-06-01   45532.0  13614.0      0.0
61 2025-07-01   44634.0   2654.0      0.0
62 2025-08-01  121175.0  76543.0      0.0

[63 rows x 4 columns]

In [ ]:
# b4_data.to_csv("../assets/SteamDB_b4_cleaned.csv",encoding="utf-8")
# bh_data.to_csv("../assets/SteamDB_bh_cleaned.csv",encoding="utf-8")
# b1_data.to_csv("../assets/SteamDB_b1_cleaned.csv",encoding="utf-8")
# bv_data.to_csv("../assets/SteamDB_bv_cleaned.csv",encoding="utf-8")
# b2042_data.to_csv("../assets/SteamDB_b2042_cleaned.csv",encoding="utf-8")
# SteamDB_b_merged_grouped.to_csv("../assets/SteamDB_b_merged_cleaned.csv",encoding="utf-8")