In [17]:
import pandas as pd

## Datasets & Cleaning

### Battlefield

In [18]:
bf4_data = pd.read_csv("../assets/raw/SteamDB Battlefield 4.csv")
bfh_data = pd.read_csv("../assets/raw/SteamDB Battlefield Hardline.csv")
bf1_data = pd.read_csv("../assets/raw/SteamDB Battlefield 1.csv")
bfv_data = pd.read_csv("../assets/raw/SteamDB Battlefield V.csv")
bf2042_data = pd.read_csv("../assets/raw/SteamDB Battlefield 2042.csv")

In [19]:
bf4_data.columns = bf4_data.columns.str.lower()
bfh_data.columns = bfh_data.columns.str.lower()
bf1_data.columns = bf1_data.columns.str.lower()
bfv_data.columns = bfv_data.columns.str.lower()
bf2042_data.columns = bf2042_data.columns.str.lower()

In [20]:
fields_to_keep = ['month', 'peak', 'gain', '% gain']
list_of_bf_data = [bf4_data, bfh_data, bf1_data, bfv_data, bf2042_data]

for i in range(len(list_of_bf_data)):
    df = list_of_bf_data[i]
    df.columns = df.columns.str.lower()
    df = df.replace("-", "0")
    df[['peak', 'gain', '% gain']] = df[['peak', 'gain', '% gain']].replace({",": "", "%": ""}, regex=True).astype(float)
    df = df[fields_to_keep][1:] # Getting rid of first row of Last 30 days
    df["month"] = pd.to_datetime(df["month"], format="%b-%y")
    df = df.sort_values("month")
    list_of_bf_data[i] = df

In [21]:
bf_merged = pd.concat(list_of_bf_data, ignore_index=True)
bf_merged = bf_merged[fields_to_keep]
bf_merged.head()

       month    peak    gain  % gain
0 2020-06-01  1213.0     0.0     0.0
1 2020-07-01  1112.0  -101.0    -8.3
2 2020-08-01  3266.0  2154.0   193.7
3 2020-09-01  1119.0 -2147.0   -65.7
4 2020-10-01  5881.0  4762.0   425.6

In [22]:
SteamDB_bf_merged_grouped = bf_merged.groupby(bf_merged.columns[0]).sum()

SteamDB_bf_merged_grouped = SteamDB_bf_merged_grouped.reset_index()
SteamDB_bf_merged_grouped = SteamDB_bf_merged_grouped.sort_values("month")

# Recalculate % gain
SteamDB_bf_merged_grouped['% gain'] = ((SteamDB_bf_merged_grouped['peak']-SteamDB_bf_merged_grouped['peak'].shift(1))*100/SteamDB_bf_merged_grouped['peak'].shift(1)).round(1)
SteamDB_bf_merged_grouped.iloc[0,3] = 0 # Setting the first % gain to 0
SteamDB_bf_merged_grouped

        month      peak     gain  % gain
0  2020-06-01    5172.0      0.0     0.0
1  2020-07-01    4696.0   -476.0    -9.2
2  2020-08-01   16020.0  11324.0   241.1
3  2020-09-01    7273.0  -8747.0   -54.6
4  2020-10-01   15854.0   8581.0   118.0
..        ...       ...      ...     ...
58 2025-04-01   52747.0 -28341.0   -35.0
59 2025-05-01   59146.0   6399.0    12.1
60 2025-06-01   45532.0 -13614.0   -23.0
61 2025-07-01   44634.0   -898.0    -2.0
62 2025-08-01  121175.0  76541.0   171.5

[63 rows x 4 columns]

In [23]:
# bf4_data.to_csv("../assets/SteamDB_b4_cleaned.csv",encoding="utf-8")
# bfh_data.to_csv("../assets/SteamDB_bh_cleaned.csv",encoding="utf-8")
# bf1_data.to_csv("../assets/SteamDB_b1_cleaned.csv",encoding="utf-8")
# bfv_data.to_csv("../assets/SteamDB_bv_cleaned.csv",encoding="utf-8")
# bf2042_data.to_csv("../assets/SteamDB_b2042_cleaned.csv",encoding="utf-8")
SteamDB_bf_merged_grouped.to_csv("../assets/clean/SteamDB_Battlefield_Clean.csv", encoding="utf-8", index=False, header=True)

In [24]:
SteamDB_bf_merged_grouped

        month      peak     gain  % gain
0  2020-06-01    5172.0      0.0     0.0
1  2020-07-01    4696.0   -476.0    -9.2
2  2020-08-01   16020.0  11324.0   241.1
3  2020-09-01    7273.0  -8747.0   -54.6
4  2020-10-01   15854.0   8581.0   118.0
..        ...       ...      ...     ...
58 2025-04-01   52747.0 -28341.0   -35.0
59 2025-05-01   59146.0   6399.0    12.1
60 2025-06-01   45532.0 -13614.0   -23.0
61 2025-07-01   44634.0   -898.0    -2.0
62 2025-08-01  121175.0  76541.0   171.5

[63 rows x 4 columns]