# Beyond The Crosshair

In [66]:
import pandas as pd

## Datasets & Cleaning

### Counter-Strike

In [67]:
cs_data = pd.read_csv("../assets/raw/SteamDB Counter-Strike.csv")
css_data = pd.read_csv("../assets/raw/SteamDB Counter-Strike Source.csv")
cscz_data = pd.read_csv("../assets/raw/SteamDB Counter-Strike Condition Zero.csv")
cs2_data = pd.read_csv("../assets/raw/SteamDB Counter-Strike 2.csv")

In [68]:
list_of_cs_data = [cs_data, css_data, cscz_data, cs2_data]
fields_to_keep = ['month', 'peak', 'gain', '% gain']

for i in range(len(list_of_cs_data)):
    df = list_of_cs_data[i]
    df = df.rename(columns={"%gain": "% gain"})
    df = df.replace("-", "0")
    df[['peak', 'gain', '% gain']] = df[['peak', 'gain', '% gain']].replace({",": "", "%": ""}, regex=True).astype(float)
    df = df[fields_to_keep][1:] # Getting rid of first row of Last 30 days
    df["month"] = pd.to_datetime(df["month"], format="%b-%y")
    df = df.sort_values("month")
    list_of_cs_data[i] = df

split_date = pd.Timestamp("2023-09-01")
csgo_data = list_of_cs_data[-1][list_of_cs_data[-1]["month"] < split_date]
list_of_cs_data[-1] = list_of_cs_data[-1][list_of_cs_data[-1]["month"] >= split_date]
list_of_cs_data.insert(-1, csgo_data)

In [69]:
# fields_game_versions = ['Counter-Strike', 'Counter-Strike 2', 'Counter-Strike Source', 'Counter-Strike Condition Zero']

cs_merged = pd.concat(list_of_cs_data, ignore_index=True)
cs_merged = cs_merged[fields_to_keep]
cs_merged.head()

       month     peak     gain  % gain
0 2004-01-01  23241.0      0.0     0.0
1 2004-02-01  39709.0  16468.0    70.9
2 2004-04-01  74926.0  35217.0    88.7
3 2004-06-01  66876.0  -8050.0   -10.7
4 2004-07-01  69685.0   2809.0     4.2

In [70]:
cs_merged_grouped = cs_merged.groupby(cs_merged.columns[0]).sum()

cs_merged_grouped = cs_merged_grouped.reset_index()
cs_merged_grouped = cs_merged_grouped.sort_values("month")
cs_merged_grouped

         month       peak      gain  % gain
0   2004-01-01    23241.0       0.0     0.0
1   2004-02-01    39709.0   16468.0    70.9
2   2004-04-01    84182.0   35217.0    88.7
3   2004-06-01    80908.0   -3274.0    40.9
4   2004-07-01    84804.0    3896.0    11.9
..         ...        ...       ...     ...
236 2025-04-01  1898525.0   34097.0   -19.3
237 2025-05-01  1752347.0 -146178.0   -47.0
238 2025-06-01  1766572.0   14225.0    29.8
239 2025-07-01  1506027.0 -260545.0   194.0
240 2025-08-01  1581554.0   75527.0    -3.2

[241 rows x 4 columns]

In [71]:
list_of_cs_data[0].to_csv("../assets/clean/SteamDB_Counter-Strike_1.6_Clean.csv",encoding="utf-8", index=False, header=True)
list_of_cs_data[1].to_csv("../assets/clean/SteamDB_Counter-Strike_Source_Clean.csv",encoding="utf-8", index=False, header=True)
list_of_cs_data[2].to_csv("../assets/clean/SteamDB_Counter-Strike_Condition_Zero_Clean.csv",encoding="utf-8", index=False, header=True)
list_of_cs_data[3].to_csv("../assets/clean/SteamDB_Counter-Strike_Global_Offensive_Clean.csv",encoding="utf-8", index=False, header=True)
list_of_cs_data[4].to_csv("../assets/clean/SteamDB_Counter-Strike_2_Clean.csv",encoding="utf-8", index=False, header=True)
cs_merged_grouped.to_csv("../assets/clean/SteamDB_Counter-Strike_Clean.csv",encoding="utf-8", index=False, header=True)