In [70]:
import pandas as pd

## Datasets & Cleaning

### Valorant

In [71]:
v_data = pd.read_csv("../assets/raw/GG Valorant.csv")

In [72]:
v_data

             Month Unique Players        Gain   % Gain Peak Players
0   September 2025     16,392,771           —        —    5,332,457
1      August 2025     18,485,157    -401,315    -2.1%    5,204,025
2        July 2025     18,886,472    +433,165    +2.3%    5,202,237
3        June 2025     18,453,307    +253,580    +1.4%    5,290,508
4         May 2025     18,199,727    +209,454    +1.2%    5,207,109
..             ...            ...         ...      ...          ...
59    October 2020      7,604,459    -257,972    -3.3%    2,056,779
60  September 2020      7,862,431           —        —    2,076,758
61     August 2020      8,070,836  +2,962,118   +58.0%    2,022,100
62       July 2020      5,108,718  +4,260,217  +502.1%      964,278
63       June 2020              —           —        —      183,072

[64 rows x 5 columns]

In [73]:
fields_to_keep = ['month', 'peak', 'gain', '% gain']

v_data = v_data.rename(columns={"Peak Players": "peak"})
v_data.columns = v_data.columns.str.lower()
v_data = v_data.replace("-", "0").replace("—", "0") # Replacing both the short - and long —
v_data[['peak', 'gain', '% gain']] = v_data[['peak', 'gain', '% gain']].replace({",": "", "%": ""}, regex=True).astype(float)
v_data = v_data[fields_to_keep][1:] # Getting rid of first row of Last 30 days
v_data["month"] = pd.to_datetime(v_data["month"], format="%B %Y")
v_data = v_data.sort_values("month")
v_data

        month       peak       gain  % gain
63 2020-06-01   183072.0        0.0     0.0
62 2020-07-01   964278.0  4260217.0   502.1
61 2020-08-01  2022100.0  2962118.0    58.0
60 2020-09-01  2076758.0        0.0     0.0
59 2020-10-01  2056779.0  -257972.0    -3.3
..        ...        ...        ...     ...
5  2025-04-01  5391338.0  -948528.0    -5.0
4  2025-05-01  5207109.0   209454.0     1.2
3  2025-06-01  5290508.0   253580.0     1.4
2  2025-07-01  5202237.0   433165.0     2.3
1  2025-08-01  5204025.0  -401315.0    -2.1

[63 rows x 4 columns]

In [74]:
v_data['gain'] = v_data['peak']-v_data['peak'].shift(1) # Recalculating gain to be based on peak players rather than unique players
v_data['% gain'] = ((v_data['peak']-v_data['peak'].shift(1))*100/v_data['peak'].shift(1)).round(1) # Recalculating gain %
v_data.iloc[0, 2:] = 0 # Setting the first value of gain and % gain to 0

v_data

        month       peak       gain  % gain
63 2020-06-01   183072.0        0.0     0.0
62 2020-07-01   964278.0   781206.0   426.7
61 2020-08-01  2022100.0  1057822.0   109.7
60 2020-09-01  2076758.0    54658.0     2.7
59 2020-10-01  2056779.0   -19979.0    -1.0
..        ...        ...        ...     ...
5  2025-04-01  5391338.0  -572938.0    -9.6
4  2025-05-01  5207109.0  -184229.0    -3.4
3  2025-06-01  5290508.0    83399.0     1.6
2  2025-07-01  5202237.0   -88271.0    -1.7
1  2025-08-01  5204025.0     1788.0     0.0

[63 rows x 4 columns]

In [75]:
v_data.to_csv("../assets/clean/GG_Valorant_Clean.csv", encoding="utf-8", index=False, header=True)