In [26]:
import pandas as pd

## Datasets & Cleaning

### Youtube Viewership Data

In [27]:
youtube_data = pd.read_csv("../assets/raw/yt_counter_strike_monthly_top50.csv")

In [28]:
youtube_data = youtube_data.drop(columns=["month"], errors="ignore")
youtube_data = youtube_data.rename(columns={"publishedAt": "month"})

youtube_fields = ['month', 'title', 'description', 'viewCount', 'likeCount', 'commentCount', 'favoriteCount', 'categoryId']
youtube_data = youtube_data[youtube_fields]
youtube_data["month"] = pd.to_datetime(youtube_data["month"], utc=True).dt.to_period("M").dt.to_timestamp()

youtube_data = youtube_data.sort_values(by="viewCount", ascending=False)

youtube_data['viewCount'] = youtube_data['viewCount'].astype("Int64")
youtube_data = youtube_data[1:]
youtube_data.head()

/var/folders/lc/9_dv_jhs555875nqm1qhl9tr0000gn/T/ipykernel_81260/2895940128.py:6: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  youtube_data["month"] = pd.to_datetime(youtube_data["month"], utc=True).dt.to_period("M").dt.to_timestamp()

,month,title,description,viewCount,likeCount,commentCount,favoriteCount,categoryId
2363,2009-10-01,Counter-Strike - DE dust2 HD,"Based on the game, Counter-Strike: Source, thi...",123912746,1514852.0,99377.0,0,1
11412,2024-11-01,Giant Hornet Attack! Honeybee Counterstrike,A Giant hornet (Vespa mandarinia) attacks a ne...,75610013,2554022.0,51993.0,0,15
11112,2024-05-01,SHOTOTOTOGUN,NaN,62624558,2548312.0,25993.0,0,20
11362,2024-10-01,A Plus-Size Girl’s Journey to Confidence #coun...,A Plus-Size Girl’s Journey to Confidence\n #co...,53919382,1477546.0,1901.0,0,22
10462,2023-04-01,counter strike in ohio,goofy ahh counter strike in ohio\nmajestic slap,48904281,1708858.0,8309.0,0,20

In [29]:
youtube_data_sorted_by_viewCount = youtube_data.sort_values("viewCount")
youtube_data_sorted_by_viewCount

,month,title,description,viewCount,likeCount,commentCount,favoriteCount,categoryId
61,2005-11-01,Nikeny64's Montage,nikeny64's montage,123,1.0,2.0,0,24
60,2005-11-01,Sparty16's Montage,It is a snipe fest.,327,8.0,1.0,0,24
13,2005-08-01,rfintro,Intro,436,4.0,5.0,0,24
14,2005-08-01,Dierlect,all about the map dierlect,436,2.0,1.0,0,24
12,2005-08-01,MULLETAGE,this is Chris Mo Fo Coles w/ his new updated m...,505,5.0,1.0,0,1
...,...,...,...,...,...,...,...,...
11362,2024-10-01,A Plus-Size Girl’s Journey to Confidence #coun...,A Plus-Size Girl’s Journey to Confidence\n #co...,53919382,1477546.0,1901.0,0,22
11112,2024-05-01,SHOTOTOTOGUN,NaN,62624558,2548312.0,25993.0,0,20
11412,2024-11-01,Giant Hornet Attack! Honeybee Counterstrike,A Giant hornet (Vespa mandarinia) attacks a ne...,75610013,2554022.0,51993.0,0,15
2363,2009-10-01,Counter-Strike - DE dust2 HD,"Based on the game, Counter-Strike: Source, thi...",123912746,1514852.0,99377.0,0,1
1122,2007-09-01,How to change Skins/Models COUNTER STRIKE SOUR...,How to change Skins/Models COUNTER STRIKE. Map...,<NA>,NaN,51.0,0,26

In [32]:
youtube_data_views_by_month = youtube_data.groupby("month", as_index=False)[["viewCount", "likeCount", "commentCount", "favoriteCount"]].sum()
youtube_data_views_by_month = youtube_data_views_by_month.reset_index(drop=True)
youtube_data_views_by_month.to_csv("../assets/clean/Youtube_Counter-Strike_Clean.csv", encoding="utf-8", index=False, header=True)

youtube_data_views_by_month

         month  viewCount  likeCount  commentCount  favoriteCount
0   2005-08-01      89144      311.0         135.0              0
1   2005-09-01      19415       97.0          35.0              0
2   2005-10-01     263357     1218.0         344.0              0
3   2005-11-01    1810148     7865.0        2047.0              0
4   2005-12-01   10797827    30861.0        9055.0              0
..         ...        ...        ...           ...            ...
237 2025-05-01  171480378  3927790.0       46085.0              0
238 2025-06-01  107472429  2346074.0       45564.0              0
239 2025-07-01  159199830  3285774.0       26922.0              0
240 2025-08-01  108662434  2352643.0       18508.0              0
241 2025-09-01   32657495   865947.0       10305.0              0

[242 rows x 5 columns]